env/
venv/
menv/
res/
data/

*.egg-info/
.eggs/
dist/
build/

__pycache__/
*.py[cod]
*.so

*.log

.env
*.env

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.dll
*.exe
*.lib
*.bin
*.mp4
*.mov
*.avi
*.mp3
*.wav

*.pkl
*.h5
*.pt
*.ckpt
